.patient-log {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.patient-log .nav {
  display: flex;
  width: 1922px;
  height: 82px;
  align-items: center;
  gap: 1170px;
  padding: 33px 64px;
  position: absolute;
  top: -1px;
  left: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--div);
}

.patient-log .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -5.00px;
  margin-bottom: -3.00px;
  font-family: "Albert Sans-Medium", Helvetica;
  font-weight: 500;
  color: #052818;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 813px;
  height: 943px;
}

.patient-log .div {
  position: absolute;
  top: 278px;
  left: calc(50.00% - 168px);
  font-family: "Albert Sans-Black", Helvetica;
  font-weight: 900;
  color: #052818;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.patient-log .text-wrapper-2 {
  position: absolute;
  top: -25px;
  left: 5px;
  font-family: "Albert Sans-Medium", Helvetica;
  font-weight: 500;
  color: #052818;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .text-wrapper-3 {
  top: 60px;
  left: 5px;
  font-family: "Albert Sans-Medium", Helvetica;
  font-weight: 500;
  color: #052818;
  position: absolute;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .group {
  position: absolute;
  top: 400px;
  left: 131px;
  width: 526px;
  height: 229px;
}

.patient-log .text-wrapper-4 {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: "Albert Sans", Helvetica;
  font-weight: 400;
  color: #939896;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .text-wrapper-5 {
  top: 98px;
  left: 16px;
  font-family: "Albert Sans", Helvetica;
  font-weight: 400;
  color: #939896;
  position: absolute;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .don-t-have-an {
  position: absolute;
  top: 145px;
  left: calc(50.00% - 128px);
  font-family: "Albert Sans", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .span {
  color: #939896;
}

.patient-log .text-wrapper-6 {
  color: #17a1ed;
  text-decoration: underline;
}

.patient-log .rectangle {
  position: absolute;
  top: calc(50.00% - 114px);
  left: calc(50.00% - 263px);
  width: 520px;
  height: 43px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--div);
}

.patient-log .rectangle-2 {
  position: absolute;
  top: calc(50.00% - 28px);
  left: calc(50.00% - 263px);
  width: 520px;
  height: 43px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--div);
}

.patient-log .div-wrapper {
  display: flex;
  width: 181px;
  height: 49px;
  align-items: center;
  justify-content: center;
  gap: 16.28px;
  padding: 19.53px 66.74px;
  position: absolute;
  top: 180px;
  left: calc(50.00% - 94px);
  background-color: #17a1ed;
  border-radius: 10px;
  box-shadow: 0px 2px 2px #00000040;
}

.patient-log .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -10.53px;
  margin-bottom: -8.53px;
  margin-left: -7.24px;
  margin-right: -7.24px;
  font-family: "Albert Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.patient-log .group-2 {
  position: absolute;
  top: 45px;
  left: 66px;
  width: 67px;
  height: 19px;
  display: flex;
  gap: 5px;
}

.patient-log .arrow {
  margin-top: 2.6px;
  width: 16px;
  height: 14.73px;
  margin-left: -1px;
}

.patient-log .text-wrapper-8 {
  width: 45px;
  height: 19px;
  font-family: "Albert Sans-Medium", Helvetica;
  font-weight: 500;
  color: #052818;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.patient-log .group-3 {
  position: absolute;
  top: 0;
  left: 813px;
  width: 1110px;
  height: 944px;
}

.patient-log .img {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1107px;
  height: 944px;
}

.patient-log .drawkit-vector {
  position: absolute;
  top: 155px;
  left: 0;
  width: 1107px;
  height: 692px;
}

.patient-log .vector {
  position: absolute;
  width: 0;
  height: 0;
  top: 7.94%;
  left: 16.40%;
}

.patient-log .vector-2 {
  position: absolute;
  width: 3.06%;
  height: 3.60%;
  top: 7.42%;
  left: 67.93%;
}

.patient-log .vector-3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 92.37%;
  left: 77.84%;
}

.patient-log .vector-4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 93.75%;
  left: 34.78%;
}

.patient-log .vector-5 {
  position: absolute;
  width: 0;
  height: 0;
  top: 9.64%;
  left: 87.57%;
}
/* Original CSS should be injected here */

.patient-log .email-input,
.patient-log .password-input {
  background-color: transparent;
  font-family: "Albert Sans", Helvetica;
  font-weight: 400;
  color: #052818;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  padding: 12px 16px;
  outline: none;
}

.patient-log .email-input::placeholder,
.patient-log .password-input::placeholder {
  color: #939896;
  opacity: 1;
}

.patient-log .email-input:focus,
.patient-log .password-input:focus {
  border-color: #17a1ed;
  border-width: 2px;
}

.patient-log .text-wrapper-4,
.patient-log .text-wrapper-5 {
  pointer-events: none;
}

.patient-log .div-wrapper {
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.patient-log .div-wrapper:hover {
  background-color: #1590d6;
}

.patient-log .div-wrapper:active {
  transform: translateY(1px);
  box-shadow: 0px 1px 1px #00000040;
}

.patient-log .div-wrapper:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.patient-log .text-wrapper-6 {
  cursor: pointer;
  transition: color 0.2s ease;
}

.patient-log .text-wrapper-6:hover {
  color: #1590d6;
}

.patient-log .text-wrapper-6:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 2px;
}

.patient-log .text-wrapper-8 {
  text-decoration: none;
  transition: color 0.2s ease;
}

.patient-log .text-wrapper-8:hover {
  div{
    text-decoration: underline;
  }
  text-decoration: underline;
}

.patient-log .text-wrapper-8:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 2px;
}

.patient-log .group {
  position: relative;
}